<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title> Movie App </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
	
<style>

*{
font-family: 'Poppins' , sans-serif;
}

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <div class="container" >

    <a class="navbar-brand" href="{% url 'filter' %}">Movies ShowBox </a><a href="/filter_movie/" class="btn btn-warning btn-md">Filter Movie</a>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/search/" class="btn btn-warning btn-md">Multi Filter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


    </div>
    </div>
  </nav>
<div class="container py-3" style="background-color:#e9e6dd;">
<div class="row">
    <div class="col-md-10">
    <form action="/filter/" method="GET">
	           {% csrf_token %}
        <input id="q" class="form-control" name="q" type="search" placeholder="What are you looking for?" aria-label="Search">

    </div>
     <div class="col-md-2">
        <button id ="search_btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </div>

        </form>
</div>
</div>
<div class="row py-5">
 <div class="col-md-12">
	     <table id="example1" class="table table-striped table-bordered" style="width:100%">
	    	<thead>
	    		<tr>
	    			<th scope="col">Movie name</th>
	    			<th scope="col">Movie Published On</th>
	    			<th scope="col">Actors</th>
            		<th scope="col">Movie Poster</th>
            		<th scope="col">Movie Genres</th>
					<th scope="col">Movie Rating</th>
    			</tr>
	    	</thead>

            <tbody>

         {% if movie_data  %}
	    	{% for p in movie_data %}
	    		<tr>

	    			<td style="color:blue;">{{p.name}}</td>
	    			<td>{{p.release_date}}</td>
					<td>{% for act in p.actors.all %}
					{{act }}<br />
					{% endfor %}</td>

	    			<td>
	    			{% if "media/images/" in  p.poster_image.url %}
                       <img src=" {{p.poster_image.url}}" width="100px",height="100px">
                    {% elif p.poster_image.url %}
                       <img src="{{p.poster_image}}" width="100px",height="100px">
                    {% endif %}

	    			</td>
	    			<td>{% for genre in p.genres.all %}
					{{genre }}
						<br />
						{% endfor %}
					</td>
					<td>{{p.rating}}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>

	    {% else %}

	    <h4 class="text-center alert alert-warning">NoRecords</h4>

	    {% endif %}
    </div>

</div>
<script>
$(document).ready(function() {
      $('#example1').DataTable();
  } );

</script>
</body>
</html>